.intro-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  max-height: 500px;
}

.intro-text {
  margin: 0px 40px 0px 60px;
  line-height: 1.85714285714286;
  color: #7A7979;
  font-family: "Roboto", open sans;
  font-size: 15px;
}

.intro-topLevel-wrapper {
  margin: 70px;
}

.intro-header {
  font-family: "Raleway", open sans;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color:  #0ea47c;
}

.intro-container > img {
  max-width: 328.91px;
  max-height: 421px;
  margin-top: 46px; 
}

.about-divider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #31A069;
  max-width: 1140px;
}