.bf-oneline {
  color: #bababa;
  font-family: "Raleway", open sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: 4.7px;
}

.bf-text-container {
  max-width: 940px;
  margin: 0 auto;
}

.bf-container { 
  text-align: center;
  padding: 120px 50px 60px 50px;
}

.femke > img {
  border-radius: 60%;
  margin: 0px;
  padding: 0;
}

.femke-name {
  color: #52BE7C;
  font-family: "Raleway", open sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 9px;
}